$desktop-size: 90rem;
$primary-color-red: hsl(0, 100%, 74%);
$primary-color-green: hsl(154, 59%, 51%);
$accent-color-blue: hsl(248, 32%, 49%);
$neutral-color-dark-blue: hsl(249, 10%, 26%);
$neutral-color-grayish-blue: hsl(246, 25%, 77%);
$font-size: 1rem;
$font-family: 'Poppins';
$very-small-weight: 400;
$small-weight: 500;
$medium-weight: 600;
$big-weight: 700;